[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
alembic = "*"
passlib = "*"
gino = "*"
asyncpg = "*"
"psycopg2-binary" = "*"

[dev-packages]
tox = "*"
"flake8" = "*"
mypy = "*"
pytest-sanic = "*"

[requires]
python_version = "3.7"
